- var page = { title: "Title", subtitle: "Subtitle", description: "description", tags: ["tag1", "tag2", "tag3"] }
- var author = author
    
head
    meta(charset='UTF-8')
    meta(http-equiv="expires", content="43200")     
    if page.subtitle
        title #{page.title} - #{page.subtitle}
    else
        title #{page.title}
    if page.description
        meta(name="description" content="#{page.description}")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='#{author}')
    if page.tags
        meta(name="keywords", content="#{page.tags}")        
    link(rel='stylesheet', href='/css/main.css')
    link(rel="alternate", type="application/rss+xml", title="{{ site.name }}", href="{{ site.url | replace: '//', '/' }}/feed.xml")
// head end
